.newClassForm {
    display: flex;
    flex-flow: column nowrap;
}

.newClassForm > * {
    margin: 1em;
}

table {
    width: 70vw;
    border-collapse: collapse;
}

table thead tr{
    background: #3f51b5 !important;
}

table tr {
    border: 1px solid black;
}

table tr:nth-child(odd){
    background: #afb7e0
}

.content {
    display: flex;
    justify-content: center;
}