.newClassForm {
    display: flex;
    flex-flow: column nowrap;
}

.newClassForm > * {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NewClassformBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.InstructorUpcomingClassesBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.duration {
    display: flex;
    justify-content: space-between;
}

.InstructorUpcomingClassesBox table {
    width: 70vw;
    border-collapse: collapse;
}

.InstructorUpcomingClassesBox table thead tr{
    background: #3f51b5 !important;
}

.InstructorUpcomingClassesBox table tr {
    border: 1px solid black;
}

.InstructorUpcomingClassesBox table tr:nth-child(odd){
    background: #afb7e0
}
